# NLP and Transformers
sentence-transformers
flair
spacy

# PDF parsing
pdfplumber
PyMuPDF  # for 'fitz'

# Fuzzy matching
rapidfuzz

# Web scraping
requests
beautifulsoup4
urllib3

# Utility and core Python packages
pandas
python-dotenv
streamlit

# LangChain and related integrations
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters

