# NLP and Transformers
sentence-transformers==2.2.2
flair==0.12.2
spacy

# PDF parsing
pdfplumber
PyMuPDF  # for 'fitz'

# Fuzzy matching
rapidfuzz

# Web scraping
requests
beautifulsoup4
urllib3

# Utility and core Python packages
pandas
python-dotenv
streamlit

# LangChain and related integrations
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters

# Fix sentencepiece compatibility
sentencepiece==0.1.99
